.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8x 5px;
    background-color: #f1f1f1;
    color: white;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
  }
  
  .nav-item {
    display: inline;
  }
  
  .nav-link {
    color: rgb(10, 10, 10);
    text-decoration: black;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: #fffbfb;
    border-radius: 5px;
  }