/* styles.css */
body {
    font-family: Arial, sans-serif;
  }
  
  .login-container, .registro-container, .actividades-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }